<li>
	{{burger_name}}

	<button type="button" class="change-devoured btn btn-warning" data-id="{{id}}" data-newDevoured="{{devoured}}">{{#if devoured}}DEVOUR TIME!{{else}}Not Devoured{{/if}}
	</button>

	<button type="button" class="delete-burger btn btn-warning" data-id="{{this.id}}">DELETE!</button>
</li>
